<%- include('partials/header') %>
<header>
  <h1>
    Welcome to <span id="company-name">Acme Elec</span>
    <div class="animated-border"></div>
    <sub>Your electrical wholesaler</sub>
  </h1>
  <div id="account-functions">
    <div class="btn-group">
      <button class="btn cta" id="login">
        login
      </button>
      <button class="btn cta" id="register">
        register
      </button>
    </div>
    <input type="search" id="search" class="search-field" data-show-icon="true">
  </div>
</header>
<%- include('store') %>

<%- include('partials/footer') %>