<link rel="stylesheet" href="css/store.css">
<!-- <link rel="stylesheet" href="css/product-card.css"> -->
<script src="js/store.js" type="module"></script>
<div class="store">

</div>
<template id="product-card">
  <%- include('partials/product-card') %>
</template>