<div class="btn-group">
  <button class="btn decrement-button" disabled>-</button>
  <button class="btn increment-button">+</button>
</div>
<input type="number" name="quantity" class="quantity-input" value=0 min=0 />
<button class="btn add-to-cart-from-store-button cta" disabled>Add to cart</button>