<link rel="stylesheet" href="css/product-card.css">
<div class="card" data-loaded="false">
  <div class="product-image">i</div>
  <div class="brand">b</div>
  <div class="price">p</div>
  <div class="terms">t</div>
  <div class="part-code">pc</div>
  <div class="description">d</div>
  <div class="add-to-cart-qty">q</div>
  <div class="add-to-cart-confirm">c</div>
</div>