<div class="card" data-loaded="false">
  <div class="product-image"></div>
  <div class="brand">
    <h6>Brand</h6><span></span>
  </div>
  <div class="price-group">
    <h6>Price</h6>
    <span class="price"></span>
    <span class="price-quantity"></span>
    <span class="unit"></span>
  </div>
  <div class="terms">
    <h6>Terms</h6><span></span>
  </div>
  <div class="part-code">
    <h6>Part No.</h6><span></span>
  </div>
  <div class="description">
    <h6>Description</h6><span></span>
  </div>
  <div class="add-to-cart">
    <%- include('add-to-cart.ejs') %>
  </div>
</div>