@import url('add-to-cart.css');

.card {
  border: 0.1rem solid var(--primary);
  border-radius: 0.5rem;
  width: 23rem;
  height: 16rem;
  display: grid;
  /* gap: 0.2rem; */
  font-size: 1rem;
  grid-template-areas:
    'product-image product-image product-image brand'
    'product-image product-image product-image price-group'
    'product-image product-image product-image terms'
    'part-code description description description'
    'add-to-cart description description description';
  /* 'part-code part-code part-code add-to-cart'
    'description description description add-to-cart'
    'description description description add-to-cart'; */
  font-size: 0.8rem;
}

div {
  border-radius: 0rem;
  background-color: var(--bg);
  border: 1px solid var(--accent);
}

@keyframes preload-animation {
  from {
    background-position: 250%;
  }
  to {
    background-position: -250%;
  }
}

.card[data-loaded='false'] > div {
  /* background-position: 100%; */
  background-image: linear-gradient(
    110deg,
    transparent 0%,
    transparent 30%,
    var(--accent) 50%,
    transparent 70%,
    transparent 100%
  );
  background-size: 250%;
  animation-name: preload-animation;
  animation-duration: 5000ms;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.product-image {
  grid-area: product-image;
  border-top-left-radius: 0.5rem;
}

.brand {
  grid-area: brand;
  border-top-right-radius: 0.5rem;
}

.terms {
  grid-area: terms;
}

.price-group {
  grid-area: price-group;
}

.part-code {
  grid-area: part-code;
}

.description {
  grid-area: description;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.add-to-cart {
  grid-area: add-to-cart;
}
