.store {
  padding: 1rem 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30.5rem, 1fr));
  gap: 0.6rem;
  overflow-y: scroll;
  height: calc(100dvh - 4rem);
  --card-width: 30.5rem;
  --card-height: 17rem;
}

@keyframes zoom-in {
  from {opacity:0; translate: 3rem 0}
  to {opacity: 1; translate: 0}
}


.card {
  --top-row-height: calc(var(--card-height) * 0.4 - 1px);
  --top-left-width: calc(var(--card-width) * 0.65 - 1px);
  --top-left-item-height: var(--top-row-height - 1px);
  --top-right-width: calc(var(--card-width) - var(--top-left-width) - 1px);
  --top-right-item-height: calc((var(--top-row-height) - 0.3rem) / 3 - 1px);
  --bottom-left-width: calc(var(--card-width) * 0.4 - 1px);
  --bottom-right-width: calc(var(--card-width) - var(--bottom-left-width) - 1px);
  --bottom-row-height: calc(var(--card-height) - var(--top-row-height) - 1px);
  --bottom-left-item-height: calc(--bottom-row-height / 3 - 1px)
  --part-code-height: calc(var(--card-height) * 0.6 / 4);
  border: 0.1rem solid var(--primary);
  border-collapse: collapse;
  border-radius: 0.5rem;
  width: var(--card-width);
  height: var(--card-height);
  display: grid;
  gap: 0;
  font-size: 1.2rem;
  grid-template-areas:
    'product-image product-image product-image brand'
    'product-image product-image product-image price-group'
    'product-image product-image product-image terms'
    'add-to-cart add-to-cart part-code part-code'
    'add-to-cart add-to-cart description description'
    'add-to-cart add-to-cart description description'
    'add-to-cart add-to-cart description description';
  /* 'part-code part-code part-code add-to-cart'
    'description description description add-to-cart'
    'description description description add-to-cart'; */
  overflow: hidden;
  
  /* scale: 0.6; 
  opacity:0; */
  animation-name: zoom-in;
  animation-duration: 600ms; 
  animation-timing-function :ease-out;
}

.card > div {
  border-radius: 0rem;
  background-color: var(--bg);
  border: 1px solid var(--accent);
  margin: 0 !important;
}

@keyframes preload-animation {
  from {
    background-position: 250%;
  }
  to {
    background-position: -250%;
  }
}

.card[data-loaded='false'] > div {
  /* background-position: 100%; */
  background-image: linear-gradient(
    110deg,
    transparent 0%,
    transparent 30%,
    var(--accent) 50%,
    transparent 70%,
    transparent 100%
  );
  background-size: 250%;
  animation-name: preload-animation;
  animation-duration: 5000ms;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.product-image {
  grid-area: product-image;
  border-top-left-radius: 0.5rem;
  min-width: var(--top-left-width);
  /* max-width: var(--top-left-width); */
  min-height: var(--top-left-item-height);
  /* max-height: var(--top-left-item-height); */
  overflow: hidden;
}



.brand {
  grid-area: brand;
  border-top-right-radius: 0.5rem;
  min-width: var(--top-right-width);
  /* max-width: var(--top-right-width); */
  min-height: var(--top-right-item-height);
  /* max-height: var(--top-right-item-height); */
}

.terms {
  grid-area: terms;
  min-width: var(--top-right-width);
  /* max-width: var(--top-right-width); */
  min-height: var(--top-right-item-height);
  /* max-height: var(--top-right-item-height); */
}

.price-group {
  grid-area: price-group;
  min-width: var(--top-right-width);
  min-height: var(--top-right-item-height);
}

.price-group > * {
  margin: 0;
}

.part-code {
  grid-area: part-code;
  min-width: var(--bottom-right-width);
  min-height: var(--part-code-height);
}

.description {
  grid-area: description;
  /* border-bottom-left-radius: 0.5rem; */
  border-bottom-right-radius: 0.5rem;
  min-width: var(--bottom-right-width);
  min-height: var(--bottom-right-height);
}

.add-to-cart {
  grid-area: add-to-cart;
}

.add-to-cart > div.btn-group > button.btn,
.add-to-cart > div,
.add-to-cart > input,
.add-to-cart > button.btn.add-to-cart-from-store-button.cta {
  display: block;
  width: 100%;
  border-radius: 0;
  border-width: 1px;
  border-color: var(--accent);
  min-height: var(--bottom-left-item-height);
}

.add-to-cart > div.btn-group > button.btn.increment-button,
.add-to-cart > div.btn-group > button.btn.decrement-button {
  font-size: 2rem;
  font-weight: bold;
  max-height: 4rem;
}

.add-to-cart > div.btn-group > button.btn {
  opacity: 0.4;
}

.add-to-cart > div.btn-group > button.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.add-to-cart > div.btn-group > button.btn:hover[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.add-to-cart > div.btn-group > button.btn.increment-button {
  background-color: #7b9;
}

.add-to-cart > div.btn-group > button.btn.decrement-button {
  background-color: #b79;
}

.add-to-cart > div.btn-group > button.btn.decrement-button[disabled] {
  background-color: #b798;
}

.add-to-cart > div.btn-group > button.btn.increment-button[disabled] {
  background-color: #7b98;
}

.add-to-cart > div.btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--bottom-left-width);
}

.add-to-cart > input {
  font-size: 2em;
  width: var(--bottom-left-width);
}
